html {
  font: 100%/1.15 serif;
}

body{
  max-width: 48rem;
  background-color: #f8faf2;
  padding: 2% 1em;
  margin: 0 auto;
}
/* lists */
dl,
ol,
ul {

  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul, {
  padding-left: 0;
}
dd{
  margin-left: 0;
}
/* navigation / menu */
nav ul {
  list-style: none;
}
nav li {
  margin-top: 1rem;
}
/* recipe lists */
.info dt,
.info dd {
  margin-top: .5rem;
}
.list {
  list-style-position: inside;
  padding-left: 0;
}
.list li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px dashed #000;
  padding-left: -4rem;
}
.list li: first-child {
  border-top: 0;
}
.Your {
  font-size: 100%;
}
.list {
  font-size: 100%;
}
.about {
  font-size: 100%;
}
.img-reeses {
  width: 400px;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  padding-top: 0rem;
}

h1 {
  font-size: 150%;
}
.instructions {
  padding-left: 0rem;
}
h4 {
  font-size: 150%;
}
h5 {
padding-top: .1rem;
font-size: 2rem
}
.img-kristyn {
  width: 200px;
  padding-top: 0rem;
}
a {
  color: orange;
}



/* breakpoint for wider width layout */

@media (min-width: 60em) {
body{
  font-family: Garamond;
  font-size: 125%;
  padding-top: 3%
}



}
